body {
 	margin: 0 auto;
 	font-size: 16px;
 	line-height: 1.71429;
 	background-color: #fff;
 	font-family: 'helvetica'; 	
}

* {
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}

*:before,
*:after {
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}

/*menu*/

img {
 	vertical-align: middle;
}

a{
 	color: white;
 	text-decoration: none;
 	font-weight: bold;
}

a:hover{
	color: #FF00BF;
}

.link{
 	font-weight: 700px;
 	padding: 21px;
 	display: inline-block;
 	margin-right: 40px auto;
 	align-items: center;
}

.logo{
 	float: left;
}


.flex-container{
	display: flex;
  	flex-flow: row;
}

@media (max-width: 750px) {
  .flex-container {    
    flex-flow: column;
  }
}

header{
  	z-index: 1;  	
  	width: 100%;  	
  	top: 0; 	
}

.menu{   	
  	position: fixed; 
  	top: 0;
  	left: 0;
  	width: 100%;  	
  	padding: 20px 50px;  
  	z-index: 1;   	
}


.menu.flex-container{
	display: flex;
  	flex-flow: row wrap;
}


.logo-container{
	margin-left: 40px;
	margin-right: auto;
}

.flex-container .logo{
	width: 70px;
	height: 70px;
}

.menu button{
	background-color: transparent;
	border: 1px solid white;
	color: white;
	width: 100px;
	height: 40px;
	border-radius: 7px;
	margin-top: 11px;
	font-size: 20px;
}

/*menu reemplazo*/
.menu2{   	
  	position: fixed; 
  	background-color: white;
  	top: 0;
  	left: 0;
  	width: 100%;
  	padding: 20px 50px;  
  	z-index: 1;    		
}

.menu2 a{
	color: #333447;
	font-weight: bold;
}

.menu2 a:hover{
	color: #FF00BF;
}


.menu2.flex-container{
	display: flex;
  	flex-flow: row wrap;
}


.logo-container2{
	margin-left: 40px;
	margin-right: auto;
}

.flex-container .logo2{
	width: 70px;
	height: 70px;
}

.menu2 button{
	background-color: white;
	border: 1px solid black;
	color: black;
	width: 100px;
	height: 50%;
	border-radius: 7px;
	margin-top: 10px;
	font-size: 20px;
	margin-right: 10px;
}

.menu2 span{
	background-color: white;
	border: 2px solid #FF00BF;
	color: #FF00BF;
	width: 100px;
	height: 50%;
	border-radius: 7px;
	margin-top: 10px;
	font-size: 20px;
	text-align: center;

}

/*primera caja*/

#principal{
	background-image: url(../img/color.jpg);
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-attachment: fixed;
  	height: 100vh;
  	width: 100%;  
  	top: 0;
  	left: 0;

  	justify-content: center;
  	align-items: center;
  	flex-direction: column;

  	color: whitesmoke;
}

/*caja slider*/
#principal.flex-container{
	justify-content: space-around;
	flex-wrap: wrap;
}

#sliders{
	margin-top: 130px;
	z-index: auto;
}

/*tercera caja*/

#box-3.flex-container{
	background-color: white;
	display: flex;
  	flex-flow: row column;
  	flex-direction: column;
	width: 100%;
	height: 100%;
	margin-top: 30px;
	left: 0;	
}

#box-3 h1 h2 h3{
	color: black;	
}

#box-3 h3{
	font-size: 15px;
}

#box-3 h2{
	font-size: 20px;
}

#box-3.uno{
	display: inline-block;
}

#box-3 iframe{
	display: inline-block;
}


/*cuarta caja*/

#box-5.flex-container{	
	flex-direction: column;
}

#box-5{
	background-color: white;
	display: flex;
  	flex-flow: row column;
  	flex-direction: column;	
	width: 100%;
	height: 100%;
	margin-top: 0;
	left: 0;		
}

#box-5 h1 h2 h3{
	color: black;	
}

#box-5 h3{
	font-size: 15px;
}

#box-5 h2{
	font-size: 20px;
}

/*quinta caja*/

#box-6.flex-container{
	background-color: white;
	display: flex;
  	flex-flow: row column;
  	flex-direction: column;
	width: 100%;
	height: 100%;
	margin-top: 0;	
	left: 0;	
}

#box-6 h1 h2 h3{
	color: black;
	align-items: center;
}

#box-6 h3{
	font-size: 15px;
}

#box-6 h2{
	font-size: 20px;
}

/*información*/

#box-4.flex-container{
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #333447;
	width: 100%;
	height: 100%;
	margin-top: 20px;
	left: 0;
	color: white;
	justify-content: space-between;
}

#imagen1{
	margin-right: 400px;
}

#image{
	width: 100px;
	margin-top: 15px;
	display: block;
	justify-content: space-between;	
}

#image img{
	border: 2px solid white;
	border-radius: 9px;
}

#box-4.flex-container iframe{
	flex-wrap: wrap;
}

#box-4 a{
	font-size: 15px;
}

/*footer*/

footer{
  	text-align: center;
  	height: 180px;
  	background-color: #333447;
  	color: white;
  	padding: 10px;
  	display: block;
  	margin-bottom: 0;
  	margin-top: 0;
}

.pie.flex-container{
	justify-content: center; 
}

.line{
	border-bottom: 2px solid white;
	width: 800px;
}

.pie i{
	margin-right: 50px;
	font-size: 30px;
}

.pie p{
	font-size: 17px;
}






