body {
 	margin: 0 auto;
 	font-size: 16px;
 	line-height: 1.71429;
 	background-color: #fff;
 	font-family: 'helvetica'; 	
}

* {
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}

*:before,
*:after {
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}

/*menu*/

img {
 	vertical-align: middle;
}

a {
 	color: white;
 	text-decoration: none;
}

.link{
 	font-weight: 700px;
 	padding: 21px;
 	display: inline-block;
 	margin-right: 40px auto;
 	align-items: center;
}

.logo{
 	float: left;
}


.flex-container{
	display: flex;
}

header{
  	position: absolute;
  	background: transparent;
  	width: 100%;
  	top: 0; 	
}

.menu{   
  	position: fixed; 
  	top: 0;
  	left: 0;
  	width: 100%;
  	padding: 30px;     	
}

.menu2{
	background-color: transparent;
}

.menu3{
	background-color: white;
}

.menu.flex-container{
	justify-content: flex-start;
}


.logo-container{
	margin-left: 40px;
	margin-right: auto;
}

.flex-container .logo{
	width: 70px;
	height: 70px;
}



/*primera caja*/

#principal{
	background-image: url(../img/color.jpg);
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-attachment: fixed;
  	height: 100vh;
  	width: 100%;  
  	top: 0;
  	left: 0;

  	justify-content: center;
  	align-items: center;
  	flex-direction: column;

  	color: whitesmoke;
}

/*segunda caja*/




